biopython==1.80
certifi==2022.12.7
charset-normalizer==2.1.1
contourpy==1.0.6
cycler==0.11.0
fastcluster==1.2.6
fonttools==4.38.0
idna==3.4
kiwisolver==1.4.4
kneed==0.8.1
matplotlib==3.6.2
numpy==1.24.0
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
py4j==0.10.9.5
pyparsing==3.0.9
pyspark==3.3.1
python-dateutil==2.8.2
pytz==2022.7
requests==2.32.0
scipy==1.9.3
seaborn==0.12.1
six==1.16.0
sklearn==0.0.post1
urllib3==1.26.13
